html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  margin: auto auto;
}
.footer_links {
  margin: auto auto;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  color: rgb(95, 95, 95);
}
.footer_links a:hover {
  color: rgb(201, 0, 117);
}