.product_box {
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  height: 30rem;
  width: 350px;
  overflow: hidden;
}

.image {
  border-radius: 5px;
}

.tittle {
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  color: rgb(201, 0, 117);
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.price {
  font-size: 1.5rem;
}

.foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.link {
  background-color: rgb(96, 0, 56);
  padding: 1rem;
  border-radius: 5px;
}

.link:hover {
  background-color: rgb(201, 0, 117);
}