/* USER */
.relative{
  position: relative;
}
.user_min {
  position: absolute;
  top: -4rem;
  right: 0;
  border-radius: 10px;
  box-shadow: 0px 6px 17px rgba(0,0,0,0.14);
  z-index: 10;
}
.user_box {
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.user_box .user_name {
  margin-left: 1.6rem;
  font-size: 1.6rem;
}
.user_box .user_img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
.user_box .user_img * {
  width: 100%;
  height: 100%;
}
.header h1, 
.header h2, 
.header h3 {
  margin: 0;
}
/* MENU */
.user_menu {
  padding: 2rem 0;
  display: none;
  background-color: white;
}
.user_menu a {
  display: flex;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  gap: 1rem;
}
.user_min:hover .user_menu {
  display: flex;
  flex-direction: column;

}